@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}
html,body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}
/* Phone responsive */
.nav {
  width: 100vw;
  background: rgba(0,0,0,0.6);
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
.nav_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border: none;
  transition: all .5s ease-in;
}
.nav_title h1 {
  font-size: 44px;
  color: #fff ;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 2px;
}
.nav_title span {
  font-size: 44px;
  color: orange;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 2px;
}
.nav_title a {
  text-decoration: none;
}
.nav_icon {
  width: 40px;
  height: 40px;
  border: 2px solid orange;
  padding:0 5px;
  border-radius: 3px;
  background: transparent;
  text-align: center;
  cursor: pointer;
}
.nav_icon:hover {
  background: orangered;
}
.nav_icon i {
  color: orange;
  font-size: 30px;
  line-height: 37px;
}
.nav_text {
  background: rgba(0,0,0,0.9);
  text-align: center;
  margin: 5px auto;
  padding: 5px 0px;
  display: none;
  transition: all .5s ease;
  width: 90%;
}
.nav_text.active {
  display: block;
}
.nav_title.active {
  border-bottom: 1px solid orangered ;
}
.nav_text ul {
  list-style-type: none;
}
.nav_text ul li {
  margin: 8px 0px;
}
.nav_text ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav_text ul li a:hover {
  color: orange;
  text-shadow: 0 0 5px orangered;
}
/* responsive tab 767px */
@media (min-width: 767px) {
  .nav_title .nav_icon {
    display: none;
  }
  .nav_title.active {
   border: none;
  }
  .nav {
    width: 100vw;
    background: rgba(0,0,0,0.6);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_title h1 {
    font-size: 50px;
    color: #fff ;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
    margin-right: 1rem;
  }
  .nav_title span {
    font-size: 50px;
    color: orange;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .nav_title a {
    text-decoration: none;
  }
  .nav_text.active {
    display: block;
  }
  .nav_text {
    display: block;
    background: none;
  }
  .nav_text ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nav_text ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
    padding-bottom: .5rem;
    transition: all .5s ;
  }
  .nav_text ul li a:hover {
    color: orange;
    text-shadow: 0 0 5px orangered;
    border: none;
  }
}
/* responsive laptop 991px-1880*/

@media (min-width: 991px) {
  .nav_title .nav_icon {
    display: none;
  }
  .nav_title.active {
   border: none;
  }
  .nav {
    width: 100vw;
    background: rgba(0,0,0,0.6);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_title h1 {
    font-size: 56px;
    color: #fff ;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
    margin-right: 5rem;
  }
  .nav_title span {
    font-size: 56px;
    color: orange;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .nav_title a {
    text-decoration: none;
  }
  .nav_text.active {
    display: block;
  }
  .nav_text {
    display: block;
    background: none;
  }
  .nav_text ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nav_text ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    transition: all .5s ;
  }
  .nav_text ul li a:hover {
    color: orange;
    text-shadow: 0 0 5px orangered;
    border: none;
  }
}
/*  ---------------responsive  phone  */
/* carousel fashion */
.carousel_fashion {
  height: 50vh;
  width: 100%;
  position: relative;
}
.carousel_fashion .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slide 2s ease;
}
.carousel_fashion .slide.active {
  display: flex;
}
@keyframes slide {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}
.container {
  max-width: 1170px;
  margin: auto;
}
.carousel_fashion .container {
  flex-grow: 1;
}
.carousel_fashion .caption {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.carousel_fashion .caption h4 {
  font-size: 60px;
  font-weight: 900;
  color: #FFF;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px 0px 10px; 
}
.carousel_fashion .slide.active .caption h4 {
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1s;
}
.carousel_fashion .caption p {
  font-size: 24px;
  font-weight: 400;
  color: #d3d8d8;
  line-height: 35px;
}
.carousel_fashion .slide.active .caption p {
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1s;
}
.carousel_fashion .caption a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
}
.carousel_fashion .slide.active .caption a {
  opacity: 0;
  animation: captionText .5s ease forwards;
  animation-delay: 1.4s;
}
@keyframes captionText {
  0%{
    opacity: 0;transform: translateX(-100px);
  }
  100%{
    opacity: 1;transform: translateX(0);
  }
}
.carousel_fashion .controls .prev,
.carousel_fashion .controls .next{
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -20px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  cursor: pointer;
  transition: all .5s ease;
  margin: 0 50px;
}
.carousel_fashion .controls .prev:hover,
.carousel_fashion .controls .next:hover
 {
  color: #ff5722;
}
.carousel_fashion .controls .prev {
  left: 0;
}
.carousel_fashion .controls .next {
  right: 0;
}
.carousel_fashion .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  transform: translateX(-50%);
}
.carousel_fashion .indicator div {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  margin: 0 20px;
}
.carousel_fashion .indicator div.active {
  background: #000000;
}
/* respone phone */
.about_fashion {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  margin-top: 2rem;
}
.about h3 {
  margin-bottom: 0.8em;
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.about__content {
  text-align: center;
}
.about__items {
  text-align: center;
  margin: 3rem 0rem;
}
.about__items a {
 
  cursor: pointer;
  transition: .5s all;
}
.about__items a i {
  font-size: 2rem;
  color: black;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border: 1px solid gray;
  border-radius: 50%;
  transition: all .5s ease;
}
.about__items i:hover {
  background: orange;
  color: #fff;
  border: transparent;
}
.about__items p {
  margin-top: 2rem;
}
.about h4 {
  color: orange;
  font-size: 30px;
  margin: 0 ;
  font-weight: 600;
  line-height: 1.8em;
  text-align: center;
}
.about__items p {
  line-height: 2em;
  letter-spacing: 1px;
  padding: 0 4rem;
  color: #7f7777;
}
.about__text {
  text-align: center;
  line-height: 2em;
  letter-spacing: 1px;
  margin: 1rem  5px;
  padding: 0 1rem;
  color: var(--bla);
}
/* about end  */
/*---------------- responsive  767px tab */
@media(min-width:767px) {
  .carousel_fashion {
    height: 80vh;
    width: 100%;
    position: relative;
  }
  .about_fashion {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    margin-top: 2rem;
  }
  .about h3 {
    margin-bottom: 0.8em;
    color: var(--bla);
    font-size: 4em;
    font-weight: 500;
    text-align: center;
  }
  .about__content {
    margin: 0 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .about__items {
    text-align: center;
    margin: 3rem 0rem;
  }
  .about__items a {
    cursor: pointer;
    transition: .5s all;
  }
  .about__items a i {
    font-size: 2rem;
    color: black;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border: 1px solid gray;
    border-radius: 50%;
    transition: all .5s ease;
  }
  .about__items i:hover {
    background: orange;
    color: #fff;
    border: transparent;
  }
  .about__items p {
    margin-top: 2rem;
  }
  .about h4 {
    color: orange;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.8em;
    text-align: center;
  }
  .about__items p {
    line-height: 2em;
    letter-spacing: 1px;
    padding: 0 .3rem;
    color: #7f7777;
  }
  .about__text {
    text-align: center;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 1rem  5px;
    padding: 0 1rem;
    color: #000;
  }
}

@media(min-width:991px) {
  .carousel_fashion {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  .about__content {
    margin: 0 8rem;
  }
  .about__text {
    margin: 1rem  4rem;
  }
}
/* stats phone */
.stats {
  text-align: center;
  background-color: orange;
  letter-spacing: 1px;
  padding: 3em 4em;
}
.stats h3 {
  margin-bottom: 0.8em;
  color: #000;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}
.stats__content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:2rem 0rem;
  margin-bottom: 5rem;
}
.stats__items {
  width: 100%;
  height: auto;
}
.stats__items .num {
  font-size: 2.5rem;
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
}
.stats__items h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 5px;
  color: #000;
  line-height: 1.1;
}
/* reponsive 767 px */
@media(min-width:767px) {
  .stats h3 {
    font-size: 4rem;
  }
  .stats__items {
    margin-bottom: 1rem;
  }
  .stats__items .num {
    font-size: 3rem;
  }
  .stats__items h4 {
    font-size: 2.5rem;
  }
}
@media(min-width:991px) {
  .stats {
    letter-spacing: 1px;
  }
  .stats__items {
    margin-bottom: 5rem;
  }
  .stats h3 {
    margin-bottom: 0.8em;
    font-size: 4rem;
  }
  .stats__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 8rem;
    gap: 0rem;
  }
  .stats__items {
  
    width: 100%;
    height: 100%;
  }
  .stats__items .num {
    font-size: 4rem;
      margin: 0;
      color: #fff;
      letter-spacing: 5px;
  
  }
  .stats__items h4 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
    line-height: 1.1;
  }

}
/* stats end */
/* blog  */
/* responsive phone */
.blog {
  padding: 3em 0em;
}
.blog h3 {
  margin-bottom: 0.8em;
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.1;
}
.blog__content {
  width: 90%;
  margin: 0 auto;
}
.blog__items {
  margin: 2rem 0rem;
  background-color: #efefef;
  border: 1px solid #efefef;
  text-align: center;
}
.blog__items img {
  border-top: 5px solid orange;
  width: 100%;
  height: 100%;
  display: block;
}
.blog__text {
  padding: 1.5em;
}
.blog__text  h5 a {
  font-size: 1.6em;
  color: orange;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}
.blog__text p {
  font-size: 1rem;
  color: #000;
  margin: .5em 0em;
  line-height: 26px;
  letter-spacing: 1px;
}
.blog__items .blog__readmore  {
  color: orange;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  padding: 7px 18px;
  background: #000;
  display: inline-block;
  cursor: pointer;
}
.blog__text h5 a:hover {
  color: orangered;
}
.blog__text a:hover {
  color: #ffffff;
}
/* reponsive 767px  */
@media(min-width:767px){
  .blog {
    padding: 3rem 1rem;
  }
  .blog h3 {
    font-size: 4rem;
  }
  .blog__content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 0px auto;
    padding: 0px 2rem;
  }
  .blog__text {
    padding: 1em;
  }
  .blog__text p {
    font-size: 1rem;
  }
 
}
/* get more  */
/* responsive phone */
.get__more__video {
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.get__more__video img {
  width: 100%;
  height: 100%;
  display: block;
}
.get__more__video a {
  position: absolute;
  left: 45%;
  top: 45%;
  padding: 20px 20px;
  display: inline-block;
  background: orange;
  border-radius: 50%;
  color: #ffffff;
  outline: none;
  transition: 0.5s all;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.get__more__video .fa.fa-play-circle {
  font-size: 35px;
  display: block;
}
.get__more__video .fa.fa-pause {
  font-size: 35px;
  display: none;
}
.get__more__video a:hover {
  background: rgba(0, 0, 0, 0.7);
}
.get__more__video .get__more__background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.get__more__text {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: orange;
  text-align: center;
  padding: 1rem 0px;
}
.get__more__text h2 {
  font-size: 2.8rem;
  color: var(--bla);
  font-weight: 500;
  line-height: 1.1;
}
.get__more__text p {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
  line-height: 2em;
  padding: 0 2rem;
  margin-bottom: 3rem;
}
.get__more__text a {
  color: orange;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  padding: 7px 18px;
  background: #000;
  outline: none;
  display: inline-block;
  cursor: pointer;
}
.get__more__text a:hover {
  color: #ffffff;
}
@media(min-width:767px) {
  .get__more__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
  .get__more__video img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .get__more__text {
    width: 100%;
    height: auto;
  }
}
@media(min-width:991px) {
  .get__more__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
/* portfolio  */
.portfolio {
  background: #ffffff;
  padding: 60px 15px;
}
.portfolio_container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .section-title {
  margin-bottom: 60px;
  flex-basis: 100%;
  max-width: 100%;
}
.portfolio .section-title h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: #000000;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-items {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .portfolio-items .item_po {
  flex-basis: calc(33.33% - 30px);
  max-width: calc(33.33% - 30px);
  margin-bottom: 30px;
  position: relative;
}
.portfolio .portfolio-items .item_po img {
  width: 100%;
  display: block;
}
.portfolio .portfolio-items .item_po .overlay_po {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
  opacity: 0;
  transition: all .5s ease;
}
.portfolio .portfolio-items .item_po:hover .overlay_po {
  opacity: 1;
  transform: scale(0.9);
  cursor: pointer;
}
.portfolio .portfolio-items .item_po .overlay_po h3 {
  font-size: 1.5em;
  color: #00cdce;
  text-transform: uppercase;
  padding: 1em 2em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 0.8em;
}
.portfolio .portfolio-items .item_po .overlay_po p {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
.portfolio .portfolio-items .item_po .overlay_po .fa {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}
.lightbox{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  padding: 0 15px;
}
.lightbox.open {
  display: flex;
}
.lightbox .lightbox-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  padding: 40px 0;
  cursor: pointer;
  animation: lightbImage .5s ease;
}
@keyframes lightbImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.lightbox .lightbox-content {
  position: relative;
}
.lightbox .lightbox-close {
  position: absolute;
  z-index: 101;
  right: 0;
  height: 40px;
  width: 40px;
  top: 0;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  cursor: zoom-out;
  font-size: 25px;
}
.lightbox .lightbox-caption {
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.lightbox .lightbox-controls div {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  margin-top: -20px;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;transition: all .5s ease;
}
.lightbox .lightbox-controls div .fa:hover {
  text-shadow: 0px 0px 10px orange;
}
.lightbox .lightbox-controls div.prev_po {
  text-align: center;
  left: 30px;
}
.lightbox .lightbox-controls div.next_po {
  text-align: center;
  right: 30px;
}
@media(max-width:991px) {
  .portfolio .portfolio-items .item_po {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
  .portfolio .section-title h1 {
    font-size: 3rem;
  }
}
@media(max-width:575px) {
  .portfolio .portfolio-items .item_po {
    flex-basis: calc(100%);
    max-width: calc(100%);
  }
}
/* subscribe */
/* responsive phone */
.subscribe__content {
  width: 100%;
  height: auto;
  background-color: orange;
  margin: 0 auto;
  padding: 1rem;
}
.subscribe__content h3 {
  margin: 3rem auto;
  color: #000;
  font-size: 3.5em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}
.subscribe__content p {
  font-size: 15px;
  color: #ffffff;
  padding: 2rem 3rem;
  letter-spacing: 1px;
  margin: 0rem auto;
  text-align: center;
}
.subscribe__content form {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.subscribe__content  input {
    width: 60%;
    padding: 15px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    outline: none;
    letter-spacing: 1px;
    line-height: inherit;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0 auto;
}
.subscribe__content button {
    display: block;
    width: 35%; 
    margin: 2rem auto;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    padding: 7px 50px;
    border: transparent;
    outline: none;
    background-color: #000;
    border-radius: 0px;
    transition: 0.5s all;
    text-align: center;
}
.subscribe__content button:hover {
  color: #000;
  background-color: #fff;
}
@media(min-width:767px) {
  .subscribe__content {
    padding: 1rem 2rem;
  }
  .subscribe__content form {
    width: 80%;
  }
  .subscribe__content  input {
      width: 70%;
      font-size: 15px;
  }
  .subscribe__content button {
      display: block;
      width: 30%;
      padding: 7px 20px;
  }
}
@media(min-width:991px) {
  .subscribe__content {
    padding: 3rem 4rem;
  }
  .subscribe__content form {
    width: 70%;
  }
  .subscribe__content  input {
      width: 70%;
      font-size: 15px;
  }
  .subscribe__content button {
      width: 30%; 
  }
}
/* AGENTS  */
.agents {
  width: 100vw;
  margin-top: 4rem;
}
.agents .title {
  margin-bottom: 0.8em;
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
}
.agents__content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  margin: 0 auto;
  overflow-y: hidden;
}
.agents__items {
  position: relative;
}
.agents__items img {
  width: 100%;
  height: 100%;
  display: block;
}
.agents__text {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color:#333; 
  text-align: center;
}
.agents__text h5 {
  margin-top: 5px;
  color: orangered;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
.agents__text p {
  color: #FFFFFF;
  font-size: .7em;
  letter-spacing: 1px;
}
.agents__icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.agents__icon a { 
  margin: 15px 0px;
}
.agents__icon i {
  line-height: 30px;
  font-size: 30px;
  margin: 0 auto;
  background: none;
  color: #FFF;
  transition: 0.5s all;
  border: none;
} 
.agents__icon a:hover {
  background: none;
  border: none;
}
.agents__icon a:hover i{
  color: orangered;
}
@media(min-width:767px) {
  .agents .title {
    font-size: 4em;
  }
  .agents__content {
    width: 70%;
  }
  .agents__text h5 {
    margin: 2rem 0rem;
    font-size: 1.7em;
  }
  .agents__text p {
    color: #FFFFFF;
    font-size: .9em;
    letter-spacing: 1px;
  }
}
@media(min-width:991px) {
  .agents {
    width: 100vw;
    display: block;
    margin-top: 4rem;
  }
  .agents .title {
    margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
    line-height: 1.1;
  }
  .agents__content {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    column-gap: 1rem;
  }
  .agents__items {
    position: relative;
  }
  .agents__items img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .agents__text {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#333; 
    text-align: center;
  }
  .agents__text h5 {
    margin: 1rem 0rem;
    color: orangered;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .agents__text p {
    color: #FFFFFF;
    font-size: .9em;
    letter-spacing: 1px;
  }
  .agents__icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .agents__icon a { 
    margin: 15px 0px;
  }
  .agents__icon i {
    line-height: 30px;
    font-size: 30px;
    margin: 0 auto;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    border: none;
  } 
  .agents__icon a:hover {
    background: none;
    border: none;
  }
  .agents__icon a:hover i{
    color: orangered;
  }
}
/* maps  */
/* width="600" height="450"  */
.maps{
  margin: 2rem auto;
}
.maps__content{
  width: 100%;
  height: auto;
  display: block;
  padding: 0px 2rem;
}
.maps h3 {
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1rem;
}
.maps h3 span {
  font-size: 3rem;
  font-weight: 600;
  color: orange;
}
#fashion_map {
  height: 400px;
  width: 100%;
  display: block;
}
@media(min-width:767px) {
  .maps h3 {
    font-size: 4rem;
  }
  .maps h3 span {
    font-size: 4rem;
  }
}
/* contact  */
.contact {
  width: 100vw;
  display: block;
}
.contact h3 {
  margin-bottom: 0.8em;
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
.contact h3 span {
  margin-bottom: 0.8em;
  color: orange;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
.contact__content {
  width: 70%;
  margin: 0 auto;
}
.contact__content .form__left {
  width: 100%;
  display: block;
}
.contact__content .form__right {
  width: 100%;
  display: block;
}
.contact__content input {
  display: block;
  width: 100%;
  color: #000;
  background: rgb(239, 239, 239);
  outline: none;
  font-size: 1em;
  padding: .8em 1em;
  margin-bottom: 2em;
  border: none;
  border-bottom: solid 2px #999;
}
.contact__content textarea {
  width: 100%;
  display: block;
  color: #000;
  background: rgb(239, 239, 239);
  outline: none;
  font-size: 1em;
  padding: 0em 1em;
  margin-bottom: 2em;
  border: none;
  border-bottom: solid 2px #999;
  resize: none;
  min-height: 13em;
  transition: all 0.5s;
}
.contact__content textarea:hover {
  border-bottom: solid 2px #000;
}
.contact__content .submit__input {
  width: 100%;
  outline: none;
  color: #fff;
  padding: 0.7em 5em;
  font-size: 1.1em;
  font-weight: 700;
  background: #000;
  transition: 0.5s all;
  transition: 0.5s all;
}
.contact__content .submit__input:hover {
  background: orange;
  color: #000;
}
@media(min-width:767px) {
  .contact__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  .contact h3 {
    font-size: 3rem;
  }
  .contact h3 span {
    font-size: 3rem;
  }
}
@media(min-width:991px) {
  .contact__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem; 
  }
  .contact h3 {
    font-size: 4rem;
  }
  .contact h3 span {
    font-size: 4rem;
  }
}
/* footer */
.footer__content {
  width: 100vw;
  display: block;
  background-color: orange;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}
.footer__content h3 {
  margin: 1rem auto;
  font-size: .7rem;
  color: #fff;
  letter-spacing: 1px;
}
.footer__content h3 span {
  color: red;
  font-size: .7rem;
}
.footer__icon {
  display: flex;
  justify-content: space-around;
}
.footer__icon i {
  margin: 0 2rem;
  font-size: 1.5rem;
}
.footer__icon a:hover i {
  color: red;
}
@media(min-width:767px) {
  .footer__content h3 {
    margin: 2rem auto;
    font-size: 1rem;
  }
  .footer__content h3 span {
    font-size: 1rem;
  }
  .footer__icon i {
    font-size: 2rem;
  }
}
#back-to-top-btn  {
  /* display: none; */
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color:orangered;;
  cursor: pointer;
  outline: none;
  transition: all .5s;
  border: transparent;
  background: transparent;
} 
#back-to-top-btn i {
  font-size: 3rem;
}
#back-to-top-btn:hover,#back-to-top-btn:focus {
  color: #000000;
}
